<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-button [routerLink]="['/', 'navigate-page']">
      <ion-icon name="eye" slot="start"></ion-icon>
      Click me to go somewhere
    </ion-button>


    <ion-button  (click)="fetchData()">
      <ion-icon slot="start" name="cloud-download-outline"></ion-icon>
      Click to fetch data
    </ion-button>
  </div>

  <div #dataDiv></div>
</ion-content>
