<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>navigate-page</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">navigate-page</ion-title>
    </ion-toolbar>
  </ion-header>

  <h1 class="ion-margin">Data</h1>
  <ion-item *ngIf="data" lines="full">
    <ion-text>{{ data.title }}</ion-text>
  </ion-item>
  <br>

  <form (ngSubmit)="logData($event)">
    <ion-list>
      <ion-item>
        <ion-input appAutofill labelPlacement="floating" label="Email for autofill test" type="email" required
                   autocomplete="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input appAutofill labelPlacement="floating" label="Password for autofill test" type="password" required
                   autocomplete="current-password"></ion-input>
      </ion-item>
    </ion-list>
    <ion-button type="submit">Login</ion-button>
  </form>

  <form (ngSubmit)="logData($event)">
    <ion-list>
      <ion-item>
        <ion-input appAutofill labelPlacement="floating" label="Email for autofill test" type="email" required
                   autocomplete="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input appAutofill labelPlacement="floating" label="Password for autofill test" type="password" required
                   autocomplete="new-password"></ion-input>
      </ion-item>
    </ion-list>
    <ion-button type="submit">Register</ion-button>
  </form>

  <ion-button [routerLink]="['/']">Go back</ion-button>
</ion-content>
